# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Database and temporary files
*.sqlite
*.sqlite-journal
/tmp

# Vite build output
dist/

# Editor files
.vscode/
.idea/
.DS_Store

# Debugging
*.pid
*.pid.lock

# Yarn/PNPM/lock files
.pnpm-debug.log*
